.home-bg-contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.name-card {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.name-info-card {
    margin-top: 20px;
}

.btn-card {
    display: flex;
    width: 300px;
    font-size: 16px;

}

.cv-btn {
    background-color: orange;
}

.touch-btn {
    background-color: #434343;
}

.btn-info {
    border-radius: 5px;
    border: 0px none;
    margin: 15px;
    color: #ffffff;
    height: 40px;
    padding: 8px;
}

.hello-card {
    height: 72px;
    width: 192px;
    background-image: linear-gradient(to right, #32F6F6, #A6A79F);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello {
    height: 44px;
    color: #ffffff;
    font-size: 42px;
}

.name {
    font-size: 64px;
    font-family: 'Segoe UI';
}

.profile {
    height: 300px;
    width: 300px;
}

.social-links-card {
    display: flex;
    justify-content: space-between;
    width: 90%;
}